
;; Function swapFloat (swapFloat, funcdef_no=0, decl_uid=1944, cgraph_uid=1, symbol_order=0)

;; 1 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2
;; 2 succs { 1 }
void swapFloat (float * u, float * v)
{
  float tmp;

  <bb 2> :
  tmp = *u;
  _1 = *v;
  *u = _1;
  *v = tmp;
  return;

}


