
;; Function swap_numbers (swap_numbers, funcdef_no=0, decl_uid=1944, cgraph_uid=1, symbol_order=0)

;; 1 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2
;; 2 succs { 1 }
void swap_numbers (int * a, int * b)
{
  <bb 2> :
  _1 = *a;
  _2 = *b;
  _3 = _1 + _2;
  *a = _3;
  _4 = *a;
  _5 = *b;
  _6 = _4 - _5;
  *b = _6;
  _7 = *a;
  _8 = *b;
  _9 = _7 - _8;
  *a = _9;
  return;

}


