
;; Function tableStartATH (tableStartATH, funcdef_no=0, decl_uid=1944, cgraph_uid=1, symbol_order=0)

;; 3 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2 3 4 5 6 7 8
;;
;; Loop 1
;;  header 7, latch 6
;;  depth 1, outer 0
;;  nodes: 7 6 5 3 4
;;
;; Loop 2
;;  header 5, latch 4
;;  depth 2, outer 1
;;  nodes: 5 4
;; 2 succs { 7 }
;; 3 succs { 5 }
;; 4 succs { 5 }
;; 5 succs { 4 6 }
;; 6 succs { 7 }
;; 7 succs { 3 8 }
;; 8 succs { 1 }
__attribute__((access ("^1[5]", )))
void tableStartATH (double atp_value, double[5] * atpH)
{
  int j;
  int i;

  <bb 2> :
  i = 0;
  goto <bb 7>; [INV]

  <bb 3> :
  j = 0;
  goto <bb 5>; [INV]

  <bb 4> :
  _1 = (long unsigned int) i;
  _2 = _1 * 40;
  _3 = atpH + _2;
  (*_3)[j] = 0.0;
  j = j + 1;

  <bb 5> :
  if (j <= 4)
    goto <bb 4>; [INV]
  else
    goto <bb 6>; [INV]

  <bb 6> :
  i = i + 1;

  <bb 7> :
  if (i <= 4)
    goto <bb 3>; [INV]
  else
    goto <bb 8>; [INV]

  <bb 8> :
  _4 = atpH + 120;
  (*_4)[0] = atp_value;
  _5 = (*_4)[0];
  (*atpH)[3] = _5;
  return;

}


