
;; Function test_mean3 (test_mean3, funcdef_no=0, decl_uid=1945, cgraph_uid=1, symbol_order=0)

;; 3 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2 3 4 5 6 7 8
;;
;; Loop 2
;;  header 7, latch 6
;;  depth 1, outer 0
;;  nodes: 7 6
;;
;; Loop 1
;;  header 4, latch 3
;;  depth 1, outer 0
;;  nodes: 4 3
;; 2 succs { 4 }
;; 3 succs { 4 }
;; 4 succs { 3 5 }
;; 5 succs { 7 }
;; 6 succs { 7 }
;; 7 succs { 6 8 }
;; 8 succs { 1 }
void test_mean3 (double * xymean, double * xy, int n)
{
  double ysum;
  double xsum;
  int i;

  <bb 2> :
  xsum = 0.0;
  ysum = 0.0;
  i = 0;
  goto <bb 4>; [INV]

  <bb 3> :
  _1 = (long unsigned int) i;
  _2 = _1 * 8;
  _3 = xy + _2;
  _4 = *_3;
  xsum = xsum + _4;
  i = i + 1;

  <bb 4> :
  if (i < n)
    goto <bb 3>; [INV]
  else
    goto <bb 5>; [INV]

  <bb 5> :
  i = n;
  goto <bb 7>; [INV]

  <bb 6> :
  _5 = (long unsigned int) i;
  _6 = _5 * 8;
  _7 = xy + _6;
  _8 = *_7;
  ysum = ysum + _8;
  i = i + 1;

  <bb 7> :
  _9 = n * 2;
  if (i < _9)
    goto <bb 6>; [INV]
  else
    goto <bb 8>; [INV]

  <bb 8> :
  _10 = (double) n;
  _11 = xsum / _10;
  *xymean = _11;
  _12 = (double) n;
  _13 = xymean + 8;
  _14 = ysum / _12;
  *_13 = _14;
  return;

}


