
;; Function test_ldst (test_ldst, funcdef_no=0, decl_uid=1944, cgraph_uid=1, symbol_order=0)

;; 1 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2
;; 2 succs { 1 }
__attribute__((access ("^0[ ]^1[ ]", )))
void test_ldst (float * f, double * d)
{
  <bb 2> :
  _1 = f + 1020;
  _2 = *_1;
  _3 = f + 18446744073709550596;
  _4 = *_3;
  _5 = f + 1024;
  _6 = _2 + _4;
  *_5 = _6;
  _7 = d + 1016;
  _8 = *_7;
  _9 = d + 18446744073709550600;
  _10 = *_9;
  _11 = d + 256;
  _12 = _8 + _10;
  *_11 = _12;
  return;

}


