
;; Function toUpper (toUpper, funcdef_no=0, decl_uid=1943, cgraph_uid=1, symbol_order=0)

;; 2 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2 3 4 5
;;
;; Loop 1
;;  header 4, latch 3
;;  depth 1, outer 0
;;  nodes: 4 3
;; 2 succs { 4 }
;; 3 succs { 4 }
;; 4 succs { 3 5 }
;; 5 succs { 1 }
void toUpper (char * ptr)
{
  int i;

  <bb 2> :
  i = 0;
  goto <bb 4>; [INV]

  <bb 3> :
  _1 = (sizetype) i;
  _2 = ptr + _1;
  _3 = *_2;
  _4 = (sizetype) i;
  _5 = ptr + _4;
  _6 = _3 & -33;
  *_5 = _6;
  i = i + 1;

  <bb 4> :
  _7 = (sizetype) i;
  _8 = ptr + _7;
  _9 = *_8;
  if (_9 != 0)
    goto <bb 3>; [INV]
  else
    goto <bb 5>; [INV]

  <bb 5> :
  return;

}


