
;; Function update_resistance (update_resistance, funcdef_no=0, decl_uid=1944, cgraph_uid=1, symbol_order=0)

;; 1 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2
;; 2 succs { 1 }
void update_resistance (float * r, float new_r)
{
  <bb 2> :
  _1 = *r;
  _2 = (double) _1;
  _3 = *r;
  _4 = new_r - _3;
  _5 = (double) _4;
  _6 = _5 / 4.0e+0;
  _7 = _2 + _6;
  _8 = (float) _7;
  *r = _8;
  return;

}


