
;; Function vadd (vadd, funcdef_no=0, decl_uid=1945, cgraph_uid=1, symbol_order=0)

;; 1 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2
;; 2 succs { 1 }
void vadd (const float * src1, const float * src2, float * dst)
{
  <bb 2> :
  _1 = *src1;
  _2 = *src2;
  _3 = _1 + _2;
  *dst = _3;
  _4 = src1 + 4;
  _5 = *_4;
  _6 = src2 + 4;
  _7 = *_6;
  _8 = dst + 4;
  _9 = _5 + _7;
  *_8 = _9;
  _10 = src1 + 8;
  _11 = *_10;
  _12 = src2 + 8;
  _13 = *_12;
  _14 = dst + 8;
  _15 = _11 + _13;
  *_14 = _15;
  return;

}


