
;; Function write_text (write_text, funcdef_no=0, decl_uid=1944, cgraph_uid=1, symbol_order=0)

;; 2 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2 3 4 5
;;
;; Loop 1
;;  header 4, latch 3
;;  depth 1, outer 0
;;  nodes: 4 3
;; 2 succs { 4 }
;; 3 succs { 4 }
;; 4 succs { 3 5 }
;; 5 succs { 1 }
void write_text (char * dest, const char * src)
{
  <bb 2> :
  goto <bb 4>; [INV]

  <bb 3> :
  src.0_1 = src;
  src = src.0_1 + 1;
  dest.1_2 = dest;
  dest = dest.1_2 + 1;
  _3 = *src.0_1;
  *dest.1_2 = _3;

  <bb 4> :
  _4 = *src;
  if (_4 != 0)
    goto <bb 3>; [INV]
  else
    goto <bb 5>; [INV]

  <bb 5> :
  return;

}


