
;; Function xformm (xformm, funcdef_no=0, decl_uid=1945, cgraph_uid=1, symbol_order=0)

;; 3 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2 3 4 5 6 7 8
;;
;; Loop 1
;;  header 7, latch 6
;;  depth 1, outer 0
;;  nodes: 7 6 5 3 4
;;
;; Loop 2
;;  header 5, latch 4
;;  depth 2, outer 1
;;  nodes: 5 4
;; 2 succs { 7 }
;; 3 succs { 5 }
;; 4 succs { 5 }
;; 5 succs { 4 6 }
;; 6 succs { 7 }
;; 7 succs { 3 8 }
;; 8 succs { 1 }
void xformm (float * m0, float * m1, float * m2)
{
  int j;
  int i;

  <bb 2> :
  i = 0;
  goto <bb 7>; [INV]

  <bb 3> :
  j = 0;
  goto <bb 5>; [INV]

  <bb 4> :
  _1 = i * 4;
  _2 = (long unsigned int) _1;
  _3 = _2 * 4;
  _4 = m1 + _3;
  _5 = *_4;
  _6 = (long unsigned int) j;
  _7 = _6 * 4;
  _8 = m2 + _7;
  _9 = *_8;
  _10 = _5 * _9;
  _11 = i * 4;
  _12 = (sizetype) _11;
  _13 = _12 + 1;
  _14 = _13 * 4;
  _15 = m1 + _14;
  _16 = *_15;
  _17 = j + 4;
  _18 = (long unsigned int) _17;
  _19 = _18 * 4;
  _20 = m2 + _19;
  _21 = *_20;
  _22 = _16 * _21;
  _23 = _10 + _22;
  _24 = i * 4;
  _25 = (sizetype) _24;
  _26 = _25 + 2;
  _27 = _26 * 4;
  _28 = m1 + _27;
  _29 = *_28;
  _30 = j + 8;
  _31 = (long unsigned int) _30;
  _32 = _31 * 4;
  _33 = m2 + _32;
  _34 = *_33;
  _35 = _29 * _34;
  _36 = _23 + _35;
  _37 = i * 4;
  _38 = (sizetype) _37;
  _39 = _38 + 3;
  _40 = _39 * 4;
  _41 = m1 + _40;
  _42 = *_41;
  _43 = j + 12;
  _44 = (long unsigned int) _43;
  _45 = _44 * 4;
  _46 = m2 + _45;
  _47 = *_46;
  _48 = _42 * _47;
  _49 = i * 4;
  _50 = j + _49;
  _51 = (long unsigned int) _50;
  _52 = _51 * 4;
  _53 = m0 + _52;
  _54 = _36 + _48;
  *_53 = _54;
  j = j + 1;

  <bb 5> :
  if (j <= 3)
    goto <bb 4>; [INV]
  else
    goto <bb 6>; [INV]

  <bb 6> :
  i = i + 1;

  <bb 7> :
  if (i <= 3)
    goto <bb 3>; [INV]
  else
    goto <bb 8>; [INV]

  <bb 8> :
  return;

}


