
;; Function xor_swap (xor_swap, funcdef_no=0, decl_uid=1944, cgraph_uid=1, symbol_order=0)

;; 1 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2 3 4
;; 2 succs { 3 4 }
;; 3 succs { 4 }
;; 4 succs { 1 }
void xor_swap (int * x, int * y)
{
  <bb 2> :
  if (x != y)
    goto <bb 3>; [INV]
  else
    goto <bb 4>; [INV]

  <bb 3> :
  _1 = *x;
  _2 = *y;
  _3 = _1 ^ _2;
  *x = _3;
  _4 = *y;
  _5 = *x;
  _6 = _4 ^ _5;
  *y = _6;
  _7 = *x;
  _8 = *y;
  _9 = _7 ^ _8;
  *x = _9;

  <bb 4> :
  return;

}


