
;; Function zmul (zmul, funcdef_no=0, decl_uid=1945, cgraph_uid=1, symbol_order=0)

;; 1 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2 3
;; 2 succs { 3 }
;; 3 succs { 1 }
void zmul (double * x, double * y, double * u)
{
  double Im;
  double Re;

  <bb 2> :
  _1 = *x;
  _2 = *y;
  _3 = _1 * _2;
  _4 = x + 8;
  _5 = *_4;
  _6 = y + 8;
  _7 = *_6;
  _8 = _5 * _7;
  Re = _3 - _8;
  _9 = *x;
  _10 = y + 8;
  _11 = *_10;
  _12 = _9 * _11;
  _13 = x + 8;
  _14 = *_13;
  _15 = *y;
  _16 = _14 * _15;
  Im = _12 + _16;
  *u = Re;
  _17 = u + 8;
  *_17 = Im;

  <bb 3> :
<L0>:
  return;

}


